.form-div {
  display: block;
  margin-top: 60px;
  margin-left: 230px;
  width: 63%;
  padding: 7px;
  border: 1px solid skyblue;
  border-radius: 20px;
}

.page-heading {
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 86, 121);
}

.form-element {
  display: block;
  margin-top: 30px;
  margin-left: 80px;
  padding: 7px;
}

.form-element label {
  color: rgb(0, 86, 121);
  font-size: larger;
}

.inputStyle {
  margin-left: 25px;
  width: 450px;
  height: 40px;
  border: 1px inset skyblue;
}

.emailMargin {
  margin-left: 65px;
}

.passMargin {
  margin-left: 30px;
}

.appButton {
  margin-top: 25px;
  font-size: 22px;
  margin-left: 300px;
  margin-bottom: 30px;
  padding: 10px;
  width: 200px;
  background-color: skyblue;
  border-radius: 20px ;
  cursor: pointer;
}

.preBtn {
  margin-left: 20px;
}

.nextBtn {
  margin-right: 20px;
}

/* below is Home page styling */
.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.portfolio-header {
  color: #333;
  text-align: center;
}

.portfolio-intro {
  margin-top: 25px;
  font-size: 19px;
  text-align: center;
  color: #666;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.section p {
  color: #555;
}

.section ul {
  list-style: disc;
  margin-left: 20px;
  color: #555;
}

.section a {
  color: #007bff;
  text-decoration: none;
}

.section a:hover {
  text-decoration: underline;
}

/* slider */

.navigation-points {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation-points a {
  color: #007bff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navigation-points a:hover {
  text-decoration: underline;
}

.custom-image {
  /* width: 100px; */
  /* height: 100px; */
}

.slider-wrapper {
  width: 500px; 
  /* max-width: 800px; Set a maximum width if needed */
  height: 20%; 
  margin: 0 auto; 
}








